@gold: #d5b476;
@grey: #4a4a4a;

@textColor: rgba(255,255,255,0.75);

h3{
  font-family: 'Montserrat', sans-serif;
  font-size:2rem;
  font-weight:400;
}

.ui.grid.default-grid{
  font-family: 'Montserrat', sans-serif;
  margin-top:8rem;

}

.default-grid p {
  line-height:2.4rem;
  font-size:1.3rem;
}

.concertsBlock td{
  font-size:1.05rem;
}

.rightContainer{
  float:right;
}
.leftContainer{
  float:left;
}

h2.title, p.title{ 
  font-family: 'Montserrat', sans-serif;
  text-transform:uppercase;
  color: @gold;
  font-size:2.7rem;
  margin-top:1.4rem;
  font-weight:400;
}

.paragraphTitle{

  height:0;
  width:100%;

}

.ui.grid.nav-grid{
  width:100%;

}

.ui.menu.main-menu{
  height:58px;
  border-radius:0 !important;
  border:none;
  box-shadow:none;

  .item{
    font-size:1.3rem;
    &:before{
      display:none;
    }
  }
}

.headerPicture{
  overflow:auto;
  position: relative;
  width: 100%;
  min-height: 790px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  padding-bottom:3rem;
}

.headerFrame{
  top:0;left:0;bottom:0;right:0;
  position:absolute;
  margin:3rem;
  border:1px solid @gold;
}

.headerContent{
  overflow:hidden;
}

.ui.grid.bio-grid{
  padding-bottom:4rem;

  background:white;
}

img.logo{
  margin-top: 28rem;
  width: 550px; 
}

.chantalDescription{
  color:@textColor;
  font-family: 'Montserrat', sans-serif; 
  font-size:1.2rem;
  margin-top:3rem !important;
}

.ui.grid.logo-grid{
  background:white;
  img{
    margin-bottom:-3rem;
  }
}

.ui.grid.concerts-grid{
  padding-top:4rem;
  padding-bottom:4rem;

  .ui.basic.table
  {
    > tbody {

      > tr{
        border:none;	
        > td{
          border-bottom: 3px solid #e6150e;
          border-top:none;
        }
      }
    }
  }
}

.ui.grid.intro-grid{
  padding-top:4rem;
  padding-bottom:4rem;
  p{
    font-size: 1.5rem;
    font-style: italic;
  }
}

.ui.grid.flower-grid{
  background:white;
  img{
    margin-top:4rem;
    margin-bottom:4rem;
  }
}

.ui.grid.media-grid{
  padding-top:4rem;
  padding-bottom:4rem;
  background:white;
}
.ui.grid.footer-grid{
  background:white;
  height:6rem;
}

.ui.grid.default-grid{ 
  font-family: 'Montserrat', sans-serif;
}
.ui.grid > .row.title-row{
  margin-left:1rem;
}


.flower{
  width:132px;
  height:132px;
}
