html, body{
  //background:#e9f7fc;
}

.default-grid{
p{
  line-height:2.4rem;
  font-size:1.3rem;
}
}

.ui.grid.nav-grid{
  width:100%;

}

.ui.menu.main-menu{
  height:58px;
  border-radius:0 !important;
  border:none;
  box-shadow:none;

  .item{
    font-size:1.3rem;
    &:before{
      display:none;
    }
  }
}

.header{
  width:100%;
  height:700px;
  margin-top:58px;
}

.ui.grid.bio-grid{
  padding-bottom:4rem;

  background:white;
}


.ui.grid.logo-grid{
  background:white;
  img{
    margin-bottom:-3rem;
  }
}

.ui.grid.concerts-grid{
  padding-top:4rem;
  padding-bottom:4rem;

  .ui.basic.table
  {
    > tbody {

      > tr{
        border:none;	
        > td{
          border-bottom: 3px solid #e6150e;
          border-top:none;
        }
      }
    }
  }
}

.ui.grid.intro-grid{
  padding-top:4rem;
  padding-bottom:4rem;
  p{
    font-size: 1.5rem;
    font-style: italic;
  }
}

.ui.grid.flower-grid{
  background:white;
  img{
    margin-top:4rem;
    margin-bottom:4rem;
  }
}

.ui.grid.media-grid{
  padding-top:4rem;
  padding-bottom:4rem;
  background:white;
}
.ui.grid.footer-grid{
  background:white;
  height:6rem;
}

.ui.grid > .row.title-row{
  margin-left:1rem;
}


.flower{
  width:132px;
  height:132px;
}
